<div class="subpage_container">
    <h1> Tablica książek </h1>
    <div *ngIf="isLoading">Loading data...</div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.genre }}</td>
            <td>
              <button (click)="onEditItem(item)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <edit *ngIf="selectedDataItem" [item]="selectedDataItem" (onItemEdited)="onEditItem($event)"></edit>
</div>
