<div *ngIf="item">
    <h1 class="ct">Edytuj rekord</h1>
    <form (ngSubmit)="onSave()">
      <label class="edit_label" for="id">ID (do odczytu):</label>
      <input class="edit_input" type="text" id="id" name="id" [value]="item.id" disabled>  
      
      <label class="edit_label" for="title">Tytuł:</label>
      <input class="edit_input" type="text" id="title" name="title" [(ngModel)]="editedItem.title" required>
  
      <label class="edit_label" for="author">Autor:</label>
      <input class="edit_input" type="text" id="author" name="author" [(ngModel)]="editedItem.author" required>

      <label class="edit_label" for="title">Gatunek:</label>
      <input class="edit_input" type="text" id="genre" name="genre" [(ngModel)]="editedItem.genre" required>

      <button class="save_button" type="submit">Zapisz</button>
    </form>
  </div>
